@{
    ViewData["Title"] = "About";
}

<div class="about">
    <h2>About Us</h2>
    <p>
        Our mission is to help individuals take control of their finances and achieve their financial goals.
        We believe that by providing a user-friendly and intuitive personal finance tracking platform, we can empower our users to make informed decisions and improve their financial well-being.
    </p>
</div>