<ul>
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    <li><a href="@Url.Action("Index", "Expense")">Expenses</a></li>
    <li><a href="@Url.Action("Index", "About")">About</a></li>
</ul>

